* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

header {
    grid-area: header;
    width: 100%;
    height: auto;
    background-image: url("img/background.jfif");
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#header-div {
    width: 300px;
    height: 400px;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

header h1, p {
    margin-bottom: 20px;
}

#foto-perfil {
    width: 160px;
    height: 160px;
    margin: 30px auto 20px auto;
    border-radius: 100%;
}

.icon {
    border-radius: 100%;
    margin: auto 10px auto 10px;
}

main {
    grid-area: main;
}

#sobre div {
    margin: 100px 100px;
}

.title {
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid black;
}

#sobre div p {
    padding-top: 60px;
    text-align: justify;
    margin: auto 50px;
}

#projetos #skills #sobre {
    width: 100%;
    height: auto;
}

#projeto-caixa {
    margin: 100px 100px;
}

.box {
    padding-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.p-left {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.p-right {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.box h2, p, h3 {
    margin: 20px 0px;
}

.box p {
    padding-left: 20px;
}

.box h3 {
    text-align: center;
}

#s-box {
    margin: 100px;
}

#s-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 40px;
}

#s-icon img {
    width: 400px;
    height: 200px;
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
}

footer {
    width: 100%;
    height: auto;
    grid-area: footer;
    background-image: url("img/background.jfif");
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

footer h1 {
    padding: 30px;
}

@media only screen and (max-width: 800px) {
    .box {
        flex-direction: column;
    }
    
    .p-left, .p-right {
        width: 100%;
    }
}